Repository VuongVu/near-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:es, yarn prettier

Add gitignore for contract
  contract/.gitignore
Due: none

Update eslint version
  package.json
  yarn.lock
Due: yarn prettier

Complete new contract:ticket
  .lintstagedrc
  contract/README.md
  contract/assembly/index.ts
  contract/assembly/model.ts
  contract/build/release/contract.wasm
  src/assets/styles/main.css
  src/pages/index.tsx
Due: yarn lint:es

Complete functions
  .eslintrc
  package.json
  src/assets/styles/main.css
  src/components/AppProvider.tsx
  src/components/layout/Navbar.tsx
  src/components/layout/index.tsx
  src/components/ticket/AddTicket.tsx
  src/components/ticket/TicketCard.tsx
  src/components/toast/index.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/utils/near/initializeContract.ts
  src/utils/near/useMarketplace.ts
  src/utils/near/useTicket.ts
  tailwind.config.js
  yarn.lock
Due: yarn lint:es, yarn prettier

Update README
  README.md
Due: none

Added new methods to the smart contract
  contract/assembly/index.ts
  contract/assembly/model.ts
Due: yarn lint:es

Moved state changes to be a method for Ticket
  contract/assembly/model.ts
Due: yarn lint:es

Improved documentation and security
  contract/assembly/index.ts
Due: yarn lint:es

Path conditions:
  yarn lint:es: any of: *.{js,jsx,ts,tsx}
  yarn prettier: any of: *.json
